:root {
  --so-red: #FF0000;
  --so-grey: #636359;
  --so-black: #000000;
  --so-white: #FFFFFF;

  --text: var(--so-grey);
  --text-h: var(--so-black);
  --bg: var(--so-white);
  
  --sans: 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
  
  font: 16px/150% var(--sans);
  color-scheme: light; /* Fuerza el modo claro (blanco) */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 100%;

  margin: 0 auto;

  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading);
  color: var(--text-h);
  margin-top: 0;
}

a {
  text-decoration: none;
}
