# Copia este archivo como .env y ajusta los valores según tu entorno
# URL del backend (sin barra final)
VITE_API_URL=http://localhost:3000/api
# URL base del bucket S3 público (sin barra final)
VITE_S3_URL=https://s3.us-east-2.amazonaws.com/olimpiadas.especiales
